@model IEnumerable<Microsoft.WindowsAzure.MediaServices.Client.IJob>

@{
    ViewBag.Title = "Media Services | Jobs";
}

@Html.RenderSubMenu("MediaServices")

<h3>Jobs</h3>

@Html.RenderGrid("jobs", Model, 
	detailsAction: (item => Url.Action("JobDetails", new { jobid=item.Id })),
	otherAction: (item => Url.Action("JobCancel", new { jobid=item.Id })),
	otherActionText: "Cancel",
	deleteAction: (item => Url.Action("JobDelete", new { jobid=item.Id })))
